*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    background-color: rgb(197, 193, 193);
    min-height: 4rem;
}

header {
    justify-content: space-between;
}

footer {
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-radius: 8%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.naranja {
    background-color: orange;
}
#contenedor{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 30px 0 ;
}

.card{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    gap: 5px;
}
.img{
    width: 100%;
    height: 65%;
    object-fit: contain;
    
}
.descripcion{
    padding: 0 10px;
}
.h1{
    margin-bottom: 10px ;
}
.ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
#lista{
    margin: 15px 0;
}
